.footer-content {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}
.right {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  color: white;
}

.bottom {
  margin-top: 40px;
  color: white;
  font-family: "Poppins", sans-serif;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: grey;
}
hr {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .bottom {
    font-size: 10px !important;
  }
  .maincont {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel img {
    height: 200px;
    object-fit: contain;
  }
  .butt {
    padding: 0.5rem 3rem;
    font-size: 15px;
  }
  .trending {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cardform {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: 80vw;
    margin-left: -4rem;
  }
}
